{% load staticfiles %}
<!-----导航------>
<section class="dao_hang">
    <nav>
        <!-------右侧广告------>
        <div class="advertisement">
            <h4>最新活动</h4>
            <div class="notice_new">
                <p><a href="#">嘿嘿</a> </p>
                <p><a href="#">czj大甩卖</a> </p>
                <p><a href="#">lzl一折大甩卖</a> </p>
                <p><a href="#">嘿嘿</a> </p>
            </div>
            <a href="#">
            	<div class="notice_img">
            	    <img src="{% static 'images/ALG_web/home/advertisement/wechat icon.jpg' %}" class="img1">
                    <img src="{% static 'images/ALG_web/home/advertisement/wechat icon.jpg' %}" class="img2">
                </div>
            </a>
        </div>
        <!--全部商品分类-->
    	<div class="important"><img src="{% static 'images/ALG_web/home/list/all_list.png' %}" style=" margin-top:8px">&nbsp;全部商品分类
        	<aside>
            	<ul>
                	<li class="cates"  mt-ct="list01">
                    	<h3>商品类型</h3>
                        <p>
                        	<a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <i style="font-family:'宋体';color:#666; line-height:23px; font-size:14px; float:left">></i>
                        </p>
                    </li>
                    <li class="cates"  mt-ct="list02">
                    	<h3>商品类型</h3>
                        <p>
                        	<a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <i style="font-family:'宋体';color:#666; line-height:23px; font-size:14px; float:left">></i>
                        </p>
                    </li>
                    <li class="cates"  mt-ct="list03">
                    	<h3>商品类型</h3>
                        <p>
                        	<a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <i style="font-family:'宋体';color:#666; line-height:23px; font-size:14px; float:left">></i>
                        </p>
                    </li>
                    <li class="cates"  mt-ct="list04">
                    	<h3>商品类型</h3>
                        <p>
                        	<a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <i style="font-family:'宋体';color:#666; line-height:23px; font-size:14px; float:left">></i>
                        </p>
                    </li>
                    <li class="cates"  mt-ct="list05">
                    	<h3>商品类型</h3>
                        <p>
                        	<a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <i style="font-family:'宋体';color:#666; line-height:23px; font-size:14px; float:left">></i>
                        </p>
                    </li>
                    <li class="cates"  mt-ct="list06">
                    	<h3>商品类型</h3>
                        <p>
                        	<a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <a href="#">统统二十</a>
                            <i style="font-family:'宋体';color:#666; line-height:23px; font-size:14px; float:left">></i>
                        </p>
                    </li>

                </ul>
            </aside>
            <div>
            	<div class="import_list b-list01">
                	<dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                    <dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                    <dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                    <dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                    <dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                    <dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                    <dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
            	</div>
            	<div class="import_list b-list02">
                <dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                </div>
                <div class="import_list b-list03">
                	<dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                </div>
                <div class="import_list b-list04">
                	<dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                </div>
                <div class="import_list b-list06">
                	<dt>全球大甩卖</dt>
                    <dd>
                    	<a href="#">121</a>
                        <a href="#">lzl</a>
                        <a href="#">sb</a>
                        <a href="#">sb</a>
                    </dd>
                </div>
            </div>
        </div>
        <!----结束----->
        <div class="dao_list">
        	<a href="#">首页</a>
            <a href="#">超级福包</a>
            <a href="#">母婴之家</a>
            <a href="#">厨房用品</a>
            <a href="#">生活必备</a>
            <a href="#">试吃申请</a>
            <a href="#">最新公告</a>
        </div>
    </nav>
</section>
<!----banner---->
<div id="banner_tabs" class="flexslider">
    <ul class="slides">
		<li>
			<a title="" target="_blank" href="#">
				<img width="1920" height="500" alt="" style="background: url(images/banner1.png) no-repeat center;" src="images/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img width="1920" height="500" alt="" style="background: url(images/banner1.png) no-repeat center;" src="images/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img width="1920" height="500" alt="" style="background: url(images/banner1.png) no-repeat center;" src="images/alpha.png">
			</a>
		</li>
        <li>
			<a title="" href="#">
				<img width="1920" height="500" alt="" style="background: url(images/banner1.png) no-repeat center;" src="images/alpha.png">
			</a>
		</li>
	</ul>
	<ul class="flex-direction-nav">
		<li><a class="flex-prev" href="javascript:;">Previous</a></li>
		<li><a class="flex-next" href="javascript:;">Next</a></li>
	</ul>
	<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
		<li class="active"><a>1</a></li>
		<li><a>2</a></li>
		<li><a>2</a></li>
        <li><a>2</a></li>
	</ol>
</div>
<script src="{% static 'js/home/slider.js' %}"></script>
<!--公告-->
<script type="text/javascript">
		window.onload=function(){
		$("top").animate({'margin-top':'0'},2000)
		$(".advertisement").animate({'top':'30','opacity':'1'},200)
		$(".flexslider").animate({'margin-top':'0'},200)
		$("aside").animate({'top':'30','opacity':'1'},200)
		$("top").animate({'margin-top':'-400'},1000)

		}
</script>
<!--楼层分布图-->
