{% load staticfiles %}
    <div class="main">
        <div class="main-inner">
            <div class="main-list">
                <div class="recommend-line">
                    <span>商品类别</span>
                </div>
                <div class="main-list__wrapper clearfix">
                    <a href="#"></a>
                    <a href="#"></a>

                    <a href="#"><img src="images/cont/main-list__img1.jpg" alt="#"><span>数码</span></a>
                    <a href="#"><img src="images/cont/main-list__img2.jpg" alt="#"><span>杂物</span></a>
                    <a href="#"><img src="images/cont/main-list__img5.jpg" alt="#"><span>鞋服</span></a>
                </div>
            </div>
            <div class="main-waterfall">
                <div class="recommend-line">
                    <span>数码</span>
                </div>
                <div class="main-waterfall__wrapper">
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img1.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/小猪佩奇踩泥坑.jpeg" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img3.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img4.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img5.jpg" alt="#"></a>
                        </div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">乐高蝙蝠侠大电影</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">【2017开年之作】“稀缺之美”系列</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__right"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img6.png" alt="#"></a>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img7.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">乐高蝙蝠侠大电影</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">【2017开年之作】“稀缺之美”系列</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__right"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img8.jpg" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img9.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img10.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img11.jpg" alt="#"></a>
                        </div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img12.png" alt="#"></a>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img13.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img14.png" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img15.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="getMore-line">
                    <a href="#">加载更多</a>
                </div>
            </div>
            <div class="main-waterfall">
                <div class="recommend-line">
                    <span>鞋服</span>
                </div>
                <div class="main-waterfall__wrapper">
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img1.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/小猪佩奇踩泥坑.jpeg" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img3.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img4.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img5.jpg" alt="#"></a>
                        </div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">乐高蝙蝠侠大电影</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">【2017开年之作】“稀缺之美”系列</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__right"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img6.png" alt="#"></a>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img7.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">乐高蝙蝠侠大电影</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">【2017开年之作】“稀缺之美”系列</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__right"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img8.jpg" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img9.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img10.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img11.jpg" alt="#"></a>
                        </div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img12.png" alt="#"></a>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img13.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img14.png" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img15.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-waterfall">
                <div class="recommend-line">
                    <span>杂物</span>
                </div>
                <div class="main-waterfall__wrapper">
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img1.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/小猪佩奇踩泥坑.jpeg" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img3.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img4.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img5.jpg" alt="#"></a>
                        </div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">乐高蝙蝠侠大电影</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">【2017开年之作】“稀缺之美”系列</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__right"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img6.png" alt="#"></a>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img7.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">乐高蝙蝠侠大电影</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">【2017开年之作】“稀缺之美”系列</a></h3>
                                <p><span>45 采集</span><span>119 粉丝</span></p>
                                <span>来自<a href="#">华纳兄弟电影</a></span>
                                <i class="info-arrow info-arrow__right"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img8.jpg" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img9.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img10.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img11.jpg" alt="#"></a>
                        </div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img12.png" alt="#"></a>
                        </div>
                    </div>
                    <div class="main-waterfall__row clearfix">
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img13.jpg" alt="#"></a></div>
                        <div class="waterfall-box">
                            <div class="waterfall-info waterfall-info__top">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                            <div class="waterfall-info waterfall-info__bom">
                                <i class="title"></i>
                                <h3><a href="#">上传</a></h3>
                                <p><span>xx人浏览</span><span>xx人留言</span></p>
                                <span>发布人<a href="#">xxx</a></span>
                                <i class="info-arrow info-arrow__left"></i>
                            </div>
                        </div>
                        <div class="waterfall-imgbox waterfall-box"><a href="#"><img src="images/cont/waterfall_img14.png" alt="#"></a></div>
                        <div class="waterfall-imgbox waterfall-box">
                            <a href="#"><img src="images/cont/waterfall_img15.jpg" alt="#"></a>
                            <div class="waterfall-collect">
                                <i class="title"></i>
                                <div class="info">
                                    <h4><a href="#">【Gentle.|温存】</a></h4>
                                    <p><span>688 采集</span><span>749 粉丝</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="getMore-line">
                    <a href="#">加载更多</a>
                </div>
            </div>
            <div class="main-category">
                <div class="head clearfix">
                    <span>以分类浏览小猪</span>
                </div>
                <div class="cont clearfix">
                    <ul class="main-category__group">
                        <li class="item"><a href="#">闲置数码</a></li>
                        <li class="item"><a href="#">手机</a></li>
                        <li class="item"><a href="#">相机</a></li>
                        <li class="item"><a href="#">笔记本</a></li>
                        <li class="item"><a href="#">电玩/随身听</a></li>
                        <li class="item"><a href="#">数码配件</a></li>
                    </ul>
                    <ul class="main-category__group">
                        <li class="item"><a href="#">闲置杂货</a></li>
                        <li class="item"><a href="#">台灯</a></li>
                        <li class="item"><a href="#">收纳盒</a></li>
                        <li class="item"><a href="#">其他</a></li>
                    </ul>
                    <ul class="main-category__group">
                        <li class="item"><a href="#">闲置鞋服</a></li>
                        <li class="item"><a href="#">男生鞋子</a></li>
                        <li class="item"><a href="#">女生鞋子</a></li>
                        <li class="item"><a href="#">男生衣服</a></li>
                        <li class="item"><a href="#">女生衣服</a></li>
                        <li class="item"><a href="#">配饰</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
