{% load staticfiles %}
<!---------巨幕-------------->
<div class="jumbotron masthead">
    <div class="container">
        <h1 style="color: hotpink">小猪嗬嗬</h1>
        <h2></h2>
        <section class="container" style="margin-top: 100px;margin-bottom: 150px">
            <form onsubmit="submitFn(this, event);">
                <div class="search-wrapper">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Type to search" />
                        <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
                    </div>
                    <span class="close" onclick="searchToggle(this, event);"></span>
                    <div class="result-container">

                    </div>
                </div>
            </form>
        </section>

        <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
        <script type="text/javascript">
            function searchToggle(obj, evt){
                var container = $(obj).closest('.search-wrapper');

                if(!container.hasClass('active')){
                    container.addClass('active');
                    evt.preventDefault();
                }
                else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                    container.removeClass('active');
                    // clear input
                    container.find('.search-input').val('');
                    // clear and hide result container when we press close
                    container.find('.result-container').fadeOut(100, function(){$(this).empty();});
                }
            }

            function submitFn(obj, evt){
                value = $(obj).find('.search-input').val().trim();

                _html = "Yup yup! Your search text sounds like this: ";
                if(!value.length){
                    _html = "Yup yup! Add some text friend :D";
                }
                else{
                    _html += "<b>" + value + "</b>";
                }

                $(obj).find('.result-container').html('<span>' + _html + '</span>');
                $(obj).find('.result-container').fadeIn(100);

                evt.preventDefault();
            }
        </script>

    </div>
</div>

<!---------综合-------------->
<div class="container markerting">
    <div class="row">
        <!-----首页 个人信息------>
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a class="home-item-tag" href="#maybelike" aria-controls="maybelike" role="tab" data-toggle="tab">

                            <span class="glyphicon glyphicon-heart" style="margin-right: 2px"></span>
                            猜你喜欢
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="home-item-tag" href="#newitem" aria-controls="newitem" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-star" style="margin-right: 2px"></span>
                            全新二手
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="home-item-tag" href="#lesslocate" aria-controls="lesslocate" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-fire" style="margin-right: 2px"></span>
                            最近最火
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="maybelike">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="newitem">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/小猪佩奇.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/小猪佩奇.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/小猪佩奇.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/小猪佩奇.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="lesslocate">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                                    <div class="caption">
                                        <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                                        <p><a class="home-item-href" href="" >描述</a></p>
                                        <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<hr class="featurette-divider">

<!---------数码模块---------->
<div class="container">
    <div class="row home-list-shuma-title">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <h2>闲置数码</h2>
         </div>
         <div class="col-md-4 listchange">
             <div class="list-change"><a class="list-change-a" href="">
                 <span class="glyphicon glyphicon-refresh"></span>换一批</a>
             </div>
         </div>
    </div>
    <div class="row mokuai">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="more">
        <div class="col-md-12" align="center">
            <a href="">
                <div class="more-button">More</div>
            </a>
        </div>
    </div>
</div>
<hr class="featurette-divider">

<!---------杂货模块---------->
<div class="container">
    <div class="row home-list-zahuo-title">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <h2>闲置杂货</h2>
         </div>
         <div class="col-md-4 listchange">
             <div class="list-change">
                 <a class="list-change-a" href=""><span class="glyphicon glyphicon-refresh"></span>换一批</a>
             </div>
         </div>
    </div>
    <div class="row mokuai">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="more">
        <div class="col-md-12" align="center">
            <a href="">
                <div class="more-button">More</div>
            </a>
        </div>
    </div>
</div>
<hr class="featurette-divider">

<!---------鞋服模块---------->
<div class="container">
    <div class="row home-list-xiefu-title">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <h2>闲置鞋服</h2>
         </div>
         <div class="col-md-4 listchange">
             <div class="list-change">
                 <a class="list-change-a" href=""><span class="glyphicon glyphicon-refresh"></span>换一批</a>
             </div>

         </div>
    </div>
    <div class="row mokuai">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href=""><img src="{% static 'images/ALG_web/home/wechat.jpg' %}" alt="..." class="img-thumbnail"></a>
                        <div class="caption">
                            <h3><span class="glyphicon glyphicon-briefcase"></span> <a class="home-item-href" href="" >物品名</a></h3>
                            <p><a class="home-item-href" href="" >描述</a></p>
                            <!--<p align="center"> <a href="#" class="home-item-btn btn btn-default" role="button">进入</a></p>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="more">
        <div class="col-md-12" align="center">
            <a href="">
                <div class="more-button">More</div>
            </a>
        </div>
    </div>
</div>
<hr class="featurette-divider">