{% load staticfiles %}
<footer class="footer" id="footer">
        <div class="footer-column__wrapper">
            <div class="footer-column">
                <a href="#" class="title">联系与合作</a>
                <a href="#">联系我们</a>
                <a href="#">用户反馈</a>
                <a href="#">小猪</a>
            </div>
            <div class="footer-column">
                <a href="#" class="title">联系与合作</a>
                <a href="#">联系我们</a>
                <a href="#">用户反馈</a>
                <a href="#">小猪</a>
            </div>
            <div class="footer-column">
                <a href="#" class="title">联系与合作</a>
                <a href="#">联系我们</a>
                <a href="#">用户反馈</a>
                <a href="#">小猪</a>
            </div>
            <div class="footer-column footer-followus">
                <a href="#" class="title">关注我们</a>
                <a href="#">新浪微博：@小猪觅缘</a>
                <a href="#">官方 QQ：</a>
                <a href="#" class="weixin">官方微信：<img src="images/footer-weixin.png" alt="#"><img src="images/footer_weixin_orcode.png" alt="#" class="orcode"></a>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© Huaban *******限公司<span class="divider">|</span><a href="#">*******号</a></p>
        </div>
    </footer>