<!--Top-->
<header>
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <strong>Welcome to ALG!</strong>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="list-inline top-link link">
                        <li><a href="/login_register/self_login"><i class="fa fa-home"></i>登陆</a></li>
                        <li><a href="/login_register/create"><i class="fa fa-comments"></i>注册</a></li>
                        <li><a href="#"><i class="fa fa-question-circle"></i>联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


	<!--Navigation-->
    <nav id="menu" class="navbar">
		<div class="container">
			<div class="navbar-header"><span id="heading" class="visible-xs">Categories</span>
			  <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Account</a>
						<div class="dropdown-menu">
							<div class="dropdown-inner">
								<ul class="list-unstyled">
									<li><a href="archive.html">Login</a></li>
									<li><a href="archive.html">Register</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-play-circle-o"></i> Video</a>
						<div class="dropdown-menu">
							<div class="dropdown-inner">
								<ul class="list-unstyled">
									<li><a href="archive.html">Text 201</a></li>
									<li><a href="archive.html">Text 202</a></li>
									<li><a href="archive.html">Text 203</a></li>
									<li><a href="archive.html">Text 204</a></li>
									<li><a href="archive.html">Text 205</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i> Category</a>
						<div class="dropdown-menu" style="margin-left: -203.625px;">
							<div class="dropdown-inner">
								<ul class="list-unstyled">
									<li><a href="archive.html">Text 301</a></li>
									<li><a href="archive.html">Text 302</a></li>
									<li><a href="archive.html">Text 303</a></li>
									<li><a href="archive.html">Text 304</a></li>
									<li><a href="archive.html">Text 305</a></li>
								</ul>
								<ul class="list-unstyled">
									<li><a href="archive.html">Text 306</a></li>
									<li><a href="archive.html">Text 307</a></li>
									<li><a href="archive.html">Text 308</a></li>
									<li><a href="archive.html">Text 309</a></li>
									<li><a href="archive.html">Text 310</a></li>
								</ul>
								<ul class="list-unstyled">
									<li><a href="archive.html">Text 311</a></li>
									<li><a href="archive.html">Text 312</a></li>
									<li><a href="archive.html#">Text 313</a></li>
									<li><a href="archive.html#">Text 314</a></li>
									<li><a href="archive.html">Text 315</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="archive.html"><i class="fa fa-cubes"></i> Blocks</a></li>
					<li><a href="contact.html"><i class="fa fa-envelope"></i> Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="header-slide">
		<div id="owl-demo" class="owl-carousel">
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/2.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/3.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/4.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/5.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/6.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/7.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/8.jpg" />
				</div>
			</div>
			<div class="item">
				<div class="zoom-container">
					<div class="zoom-caption">
						<span>Video's Tag</span>
						<a href="single.html">
							<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
						</a>
						<p>Video's Name</p>
					</div>
					<img src="images/9.jpg" />
				</div>
			</div>
		</div>
	</div>
</header>