{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="color:hotpink">小猪嗬嗬</a>
                </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/"><span class="glyphicon glyphicon-home"></span><span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'Item:item_list_digital' %}"  >闲置数码</a>
                    </li>
                    <li><a href="{% url 'Item:item_list_groceries' %}" >闲置杂货</a>
                    </li>
                    <li><a href="{% url 'Item:item_list_clothing' %}">闲置鞋服</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="{% url 'Item:search'%}" >
                    <div class="input-group">
                        <input name="wd" type="text" id="nav_search_form" class="form-control" placeholder="搜索...">
                        <span class="input-group-btn">
                        <button id="nav_search_button" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div><!-- /input-group -->
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'Item:item_add' %}"><span class="glyphicon glyphicon-user"></span>发布闲置</a></li>

                    {% if user_name is 0 %}
                        <li><a data-toggle="modal" data-target="#login" href=""><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                        <li><a data-toggle="modal" data-target="#register" href=""><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    {% else %}
                        <li><a href="{% url 'Login_register:user_information' %}"><span class="glyphicon glyphicon-user"></span> {{ user_name }}</a></li>
                        <li><a href="{% url 'Login_register:log_off' %}"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>


                    {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-send"></span> 联系我们</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">帮助</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="register" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">注册</h1>
            </div>
            <div class="modal-body">
                <form class="form-group" method="post" action="{% url 'Login_register:create'%}">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ create_user }}
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                </form>
            </div>
        </div>
    </div>
</div>
    <div id="login" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                  <button class="close" data-dismiss="modal">
                      <span>&times;</span>
                  </button>
              </div>
              <div class="modal-title">
                  <h1 class="text-center">嗬嗬号登陆</h1>
              </div>
              <div class="modal-body">
                  <form class="form-group" method="post" action="{% url 'Login_register:self_login'%}">
                      <div class="form-group">
                          {% csrf_token %}
                          {{ login_user }}
                      </div>
                      <div class="text-right">
                          <button class="btn btn-primary" type="submit" value="登陆">登录</button>
                          <button class="btn btn-danger" data-dismiss="modal">取消</button>
                      </div>
                      <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                  </form>
              </div>
         </div>
     </div>
  </div>

<form method="post">
    <script>{{ alert }}("{{ write }}")</script>
</form>