.navbar{
    margin-bottom: 0;
}
#nav_search_button{
    background: none;
    border-color: hotpink;
    color:white;
        text-shadow: none;
}
#nav_search_button:hover{
    background-color: #ffffff;
    border-color: #ff69b4;
    color: black;
    text-shadow: none;
}
#nav_search_button:focus{
    outline:deeppink;
}
#nav_search_form{
    border-color: hotpink;
    background: #363636;
    width: 300px;
}
#nav_search_form:focus{
    outline:deeppink;
}


#footer{
    background: #353535;
    height: 150px;
    /*margin-top:-30px;*/

}
.footer_left{
    text-align: center;
    color: white;

}
.footer_mid{
    color: white;
    text-align: center;

}
.footer_right{
    color: white;
    text-align: center;


}
.fix{
    padding-top: 30px;
    color: #f5f5f5;
    margin-top: 30px;
}
input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.modal-body{
    margin-left:50px;
    margin-right:50px;

}
.form-group{
    margin-bottom: 20px;
}
.text-right{
    margin-top: 50px;
}
.navbar-inverse .navbar-nav > li > a {
    color:white !important;
}
/*.navbar-inverse .navbar-nav > li > a :hover{*/
    /*color: deeppink !important;*/
/*}*/
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: hotpink !important;
    background-color: transparent;
}