{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>注册</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/create_user/create_user.css' %}">
    </head>
    <body>
        <div class="register-container">
            <h1 style="font-size: 35px">ALG</h1>
            <form method="post" action="{% url 'Login_register:create' %}">
                <div class="connect">
                  <p>请如实填写你的资料</p>
                  <p>带*号为必填</p>
                  <script>{{ alert }}("{{ write }}")</script>
                </div>
                {% csrf_token %}
{#                {{ user }}#}
                <br>
                <div class="connect2">
                    <p>*用户名：</p>
                </div>
{#                          {% csrf_token %}#}
                    {{ user.username }}
                <br>
                <br>
                    *密码:
                    {{ user.password }}
                <br>
                    *邮箱:
                    {{ user.email }}
                <br>
                    *真实姓名：
                    {{ user.name }}
                <br>
                <br>
                    *联系电话：
                    {{ user.telephone }}
                <br>
                <button type="submit" value="注册">注 册</button>
            </form>
            <a href="/login_register/self_login/">
                <button type="button" class="register-tis">已经有账号？</button>
            </a>
        </div>
    </body>
    <script src="{% static 'js/create_user/jquery.js' %}"></script>
    <script src="{% static 'js/create_user/common.js' %}"></script>
    <!--背景图片自动更换-->
{#    <script src="{% static 'create_user/js/supersized.3.2.7.min.js' %}"></script>#}
{#    <script src="{% static 'create_user/js/supersized-init.js' %}"></script>#}
    <!--表单验证-->
    <script src="{% static 'js/create_user/jquery.validate.min.js' %}"></script>

</html>