{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}home{% endblock %}
{% block css%}
    <link rel="stylesheet" href="{% static 'css/home/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/search-form.css' %}">
{% endblock %}
{% block body %}

    <!-----------引入头----------->
    {% include 'ALG_web/header.html' %}
    <!-----------引入网页详情----------->
    <div class="content">
        <div id="email_test" class="jumbotron masthead">
            <div class="container">
                <h1 style="color: hotpink;margin-top: 30px">激活成功</h1>
                <h2></h2>
            </div>
        </div>
    </div>
    <!-----------引入footer----------->
    {% include 'ALG_web/footer.html' %}
    <!----------JS------------------>
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}