{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}home{% endblock %}
{% block css%}
        <link rel="stylesheet" href="{% static 'css/home/base_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/search-form.css' %}">
{% endblock %}
{% block body %}

    <!-----------引入头----------->
    {% include 'ALG_web/header.html' %}
    <!-----------引入网页详情----------->
    <div class="content">
        <div class="container " >
            <div class="row" style="margin: 200px auto 200px auto" >
                <div class="col-md-1"></div>
                <div class="col-md-10" align="center">
                    请到邮箱完成激活！
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
    </div>
    <!-----------引入footer----------->
    {% include 'ALG_web/footer.html' %}
    <!----------JS------------------>
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}