{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}home{% endblock %}
{% block css%}
        <link rel="stylesheet" href="{% static 'css/home/base_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/home/search-form.css' %}">
{% endblock %}
{% block body %}

    <!-----------引入头----------->
    {% include 'ALG_web/header.html' %}
    <!-----------引入网页详情----------->
    <div id="Prompt" class="jumbotron masthead">
        <div class="container">
            <h1 style="color: hotpink;margin-top: 30px;font-size: 40px">请到邮箱完成激活</h1>
            <small style="color: hotpink;font-size: 20px;">未激活的账户只有访客权限</small>
        </div>
    </div>

    <!-----------引入footer----------->
    {% include 'ALG_web/footer.html' %}
    <!----------JS------------------>
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}