
{#     前端代码加入一句#}
{#        <script>{{alert}}("{{write}}"))#}
{#        密码错误重定向到登陆界面#}
{#    <input type="hidden" value="">#}
{#      value = 1 代表教务登陆#}
{#      value = 2 代表数据库账户登陆#}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'create_user/css/../../../static/login/css/login.css' %}">
    <title>Login</title>
</head>
<body>

<div class="login-container">
	<h1>登陆</h1>

	<div class="connect">
		<p>您的满意是我们最大的动力</p>
	</div>
    <form method="post">
        <p style="color: #cb003f;font-size: 18px">{{ write }}</p>
    </form>
    <form method="post" action="{% url 'Login_register:self_login'%}">
        <div>
            用户名：
            {% csrf_token %}
            {{ user.username }}
            <br>
            <br>
            密码：
            {{ user.password }}
            <br>
            <button id="submit" type="submit" value="登陆">登 陆</button>
        </div>
    </form>
    <a href="/login_register/es_login">
		<button type="button" class="register-tis">使用教务登陆</button>
	</a>

	<a href="/login_register/create">
		<button type="button" class="register-tis">还有没有账号？</button>
	</a>
</div>

</body>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'login/js/common.js' %}"></script>
<!--背景图片自动更换-->
<script src="{% static 'login/js/supersized.3.2.7.min.js' %}"></script>
<script src="{% static 'login/js/supersized-init.js' %}"></script>
<!--表单验证-->
<script src="{% static 'login/js/jquery.validate.min.js' %}"></script>
</html>