{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ALG_Store</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/owl.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <script src="{% static 'js/home/jquery.js' %}"></script>
    <script src="{% static 'js/home/bootstrap.js' %}"></script>
</head>
<body>
{% block body %}{% endblock%}
</body>
</html>