{% load  staticfiles %}
<div class="maxbj1">
    <header>
        <b class="logo"><img src="{% static 'images/logo/alg.png' %}" height="100%"></b>
        <search>
            <form>
                <input type="text" placeholder="查询关键词..." required style=" width:440px; height:30px; text-indent:2em; float:left; box-shadow:none">
                <button>搜索</button>
            </form>
        </search>
        <div class="sping_car">
    	<b></b>
        <em>愿望清单</em>
    </div>
    </header>
</div>