<top>
    <section class="seck">
                <div class="dis_add">

                </div>
                <div class="register_login">
                    <em>hello!</em>
                    <a href="/login_register/self_login">会员登录</a>
                    <a href="/login_register/create">快速注册</a>
                </div>
                <div class="vip_center">
                <a href="#">会员中心</a>
                <a href="#">商户中心</a>
                <a href="#">帮助</a>
            </div>
     </section>
</top>