{% load staticfiles %}
<div class="content">
    <div id="seller-detail" class="container">
        <div class="page-header">
            <h2>发布人:{{ item.author }} <small>发布时间:{{ item.created_time |date:'Y-m-d H:n:s' }}</small> </h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <a class="thumbnail">
                    <div class="detail-img">
                        {{ item.content|safe }}
                    </div>
                </a>
            </div>
            <div class="col-md-7">
                2
            </div>
        </div>
    </div>
</div>