{% load staticfiles %}
<div class="content">
    <div id="seller-detail" class="container">
        <div class="page-header">
            <h2>卖家: {{ item.author }} <small>发布时间:{{ item.created_time |date:'Y-m-d H:n:s' }}</small> </h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">

                    <div class="detail-img"  >
                        <img src = '{{ item.pic.url }}' height="300px" width="400px">
                    </div>

            </div>
            <div class="col-md-5">
                 <div id="sell-item-price" class="thumbnail">
                     <div class="caption">
                         　
                        <h2>{{ item.title }}</h2>
                         <br>
                         <p>价格：{{ item.price }}</p>
                         <br>
                         <br>
                        <p><a href="#" class="btn btn-primary" role="button">想要</a> <a href="#" class="btn btn-default" role="button">与卖家联系</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#item-imformation" aria-controls="item-imformation" role="tab" data-toggle="tab">宝贝介绍</a></li>
                    <li role="presentation"><a href="#message" aria-controls="message" role="tab" data-toggle="tab">留言</a></li>
{#                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>#}
{#                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>#}
                  </ul>

          <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="item-imformation">
                    <div id="sell-item-detail" class="thumbnail">
                     <div class="caption">
                         <br>
                         <p>{{ item.content|safe }}</p>

                    </div>
                </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="message">
                    <div id="sell-item-detail" class="thumbnail">
                        <div class="caption">

                        </div>
                    </div>
                </div>
{#                <div role="tabpanel" class="tab-pane" id="messages">#}
{##}
{#                </div>#}
            </div>

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>