<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
    <div>
        <h3>商品</h3>
    </div>
    <hr>
      <p>一共有{{ items|length }}件商品</p>
{#    添加若无相关商品的时候返回页面#}

        {% for item in items %}
            <a href = {%  url 'item_detail' item.pk %}>
            <h3>{{ item.title }}</h3>
            </a>
{#        <p>{{ item.content|truncatewords :20 }}</p>#}
{#            对商品信息（content）的简介#}
        {% endfor  %}

</body>
</html>