<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
    <div>
        <h3>商品</h3>
    </div>
    <hr>

    <!-----显示所有page的商品---->
        <p>一共有{{ page_of_items.paginator.count}}件商品</p>

    <!------添加若无相关商品的时候返回页面---->
    <!-----根据每一个不同的page显示不同的页面的item----->
        {% for item in page_of_items.object_list %}
            <a href = {%  url 'item_detail' item.pk %}>
            <h3>{{ item.title }}</h3>
            </a>
            <p>{{ item.content|striptags|truncatechars:20 }}</p>
            <!----防止输入html源码无法解析---->
  <!------提取content的前20个词，对商品信息（content）的简介----->
        {% endfor  %}

    <!---显示所有分类列表----->
        {% for item_type in item_types %}
            <a href = {% url 'items_with_type' item_type.pk %}>
            <h3>{{ item_type.type_name }}  ({{ item_type.item_count }})</h3>
            </a>
        {% endfor %}

    <div>
        {% for page_num in page_range %}
            <!-----判断是否在当前页面，如果是则该页面的编号会凸显出来,----->
            {% if page_num == page_of_items.number %}
                <li class = 'active'><span>{{ page_num }}</span></li>
            {% else %}
                <!------若该与首尾页相差超过两页，中间为省略号并且没有办法点击---->
                {% if page_num == '...' %}
                     <li><span>{{ page_num }}</span></li>
                {% else %}
                <li><a href = '?page={{ page_num }}'>{{ page_num }}</a></li>
                {% endif %}
            {% endif %}
    <!-----显示各个页面例如有四页则显示1，2，3，4---->
        {% endfor %}
    <!----标明页码----->
        <p>当前第{{ page_of_items.number }}页,
            共{{ page_of_items.paginator.num_pages }} 页
        </p>
    </div>

</body>
</html>